#div1{
    background-color: white;
    position: relative;
    top: -22px;
    height: 95px;
    border-bottom: 1px solid #888;
    

}

header {
    background-color: teal;
    color: white;
    padding: 15px 35px 1px 35px;
    width: 177px;
    position: relative;
    left: 100px;
    top: 0px;
}


nav {
    position: absolute;
    top: 22px;
    left: 921px;
    width: 342px;
    height: 73px;
    background-color: white;
    border-bottom: 1px solid #888;
    
    
    

    
}

.nav-links{
    text-decoration: none;
    font-weight: bold;
    color: #666;
    padding-right: 12px;
    padding-left: 10px;
    position: relative;
    top: 27px;
}

#about-link{
    border-right: 1px solid #cac9c9;
}

#portfolio-link{
    border-right: 1px solid #cac9c9;
}


body{
    background-color: bisque;
    margin: 0;
    width: 932px;
}


#about-me{
    background-color: white;
    width: 731px;
    height: 455px;
    padding: 15px 20px 25px 30px;
    position: relative;
    left: 100px;
    top: 20px;
    border: 1px solid #888;
}

#connect{
    background-color: white;
    width: 200px;
    padding: 5px 20px 39px 20px;
    position: relative;
    left: 913px;
    top: -421px;
    border: 1px solid #888;
}

#connect h2{
    border-bottom: 1px solid #888
}

.social-media{
    width: 64px;
    height: 64px;
    position: relative;
    top: 9px
        
}

#about-me h1{
    font-size: 2em;
    color: teal;
    border-bottom: 1px solid #888;
    padding-bottom: 10px;
}

h2{
    color: teal;
}

#about-me img{
    float: left;
}

#about-me p{
    position: relative;
    left: 15px;
    padding: 0px 20px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #888;
    line-height: 1.75;
    
}